<h1>My great todo app</h1>

<section class="display-todo-items">
  <ul>
    {{#each items}}
      <li class="todo-item">{{this.name}}</li>
      <p class="description">
        {{this.description}}
      </p>
    {{/each}}
  </ul>
</section>

<section class="create-todo-item">
  <h2>Create a todo item</h2>
  <form class="add-item" action="/api/v1/items" method="post">
    <div>
      <div class="">
        <label for="item-name">What do you need to do?</label>
      </div>
      <input type="text" name="name" value="">
    </div>

    <div>
      <div class="">
        <label for="item-description">Tell me more</label>
      </div>
      <textarea name="description" rows="8" cols="40"></textarea>
    </div>

    <div>
      <input type="submit">
    </div>
  </form>
</section>
